streamlit
easyocr
gTTS
Pillow  # Corrected: 'pillow' should be capitalized as 'Pillow'
transformers
deep-translator
validators
streamlit-js-eval
opencv-python  # Added for OpenCV support with easyOCR
